@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900");

* {
	box-sizing: border-box;
}



body {
	margin-left: 0;
	margin-right: 0;
	margin-top:0;
	margin-bottom: 3rem;
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

/*
.body-section {
	min-height: 100vh;
}
*/
.container {
	width: 95%;
	margin: 0 auto;
}

/* typography */
.list-title
{
	font-weight: 900;
	font-size: 2rem;
}

.home-about li {
	font-weight: 400;
	font-size: 1rem;
	list-style: none;
}

.title {
	line-height: 5vh;
	/*font-size: 2.5rem;*/
}

@media (min-width: 60rem) {
	.title {
		font-size: 3rem;
	}
}




/* buttons */

.button {
	display: inline-block;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;

}

.button-accent {
	color: white;
	border-color: white;
}

.button-accent:hover,
.button-accent:focus {
	color: black;
	background: white;
}

@media (min-width: 60rem) {
	.button {
		font-size:1.5rem;

	}
}

/* header */

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: black;
}


nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight:900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: white;
}

nav a:hover,
nav a:focus {
	color: #DDD;
}

.logo {
	max-height: 0rem;
}

@media (min-width: 60rem) {
	.title {
		font-size: 3rem;
	}
	.logo {
		max-height:3rem;
		float: left;
	}
	nav {
		float: right;
	}
}

/* title area */


.title-area {

/* need to add something here that changes the padding above the title text so that it is always visible and centered */
	/*background-image: url(../img/background.jpg);*/
	background-size: cover;
	background-position: center;
	height: 50vh;
	padding-top: 10em;
	padding-bottom: 10em;
	color: white;

}

/*regardless of screen height, the image will take up half of screen*/
@media (min-width: 60rem) {
	.title-area {
		height: 50vh; /*use this more in the future to define responsive heights*/
		padding-top: 15vh;
	}
}

/*ast shine page */
.col-2 {
	float: left;
	color: black;
	list-style-type:none;
	padding: 0;
	float: left;
	width: 100%;
	text-align: center;
}


.col-2 ul{
	margin: 1vh;
	padding: 1vh;
	text-align: left;
	list-style-type: none;
	display: inline-block;
}

.ast-shine-about {
	padding-left: 2vw;
	padding-right: 2vw;
}

@media (min-width: 60rem) {
	.col-2 {
		width: 25%;
	}
	.ast-shine-about {

		padding-left: 10vw;
		padding-right: 10vw;
	}
	.ast-shine-text {
		font-size: 1.25em;
		padding-left: 15vw;
		padding-right: 15vw;
	}
}


/* information on home page */

.col-1 {
	float: left;
	color: black;
	list-style-type:none;
	padding: 0;
	float: left;
	width: 100%;
	text-align: center;
}

/*gets rid of default margin that is saved for the bullets and sets padding/margins*/
.col-1 ul{
	margin: 1vh;
	padding: 1vh;
	text-align: left;
	list-style-type: none;
	display: inline-block;
}


.unstyle-list {
	text-align:left;
	list-style-type: none;
	display: inline-block;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}



@media (min-width: 60rem) {
	.col-1 {
		width: 33.33%;
		padding-left: 3vw;
		padding-right: 3vw;
	}
	.home-about {
		padding-top: 0;
		padding-left: 10vw;
		padding-right: 10vw;
}

/* about page */

.about-page-titles {
	font-size: 2rem;
	color: #b7a4d4;
}

.about-about {
	padding-left: 5vw;
	padding-right: 5vw;
	background: #b7a4d4;
	padding-bottom: 10vh;
}

.grid-container {
	text-align: left;
}

.grid-item {
	transition-property: opacity;
    transition-duration: 0.8s;
	opacity: 0;
	background: white;
	padding: 1em;
}

.grid-item.show {
	opacity: 1;
}


@media (min-width: 60rem) {
	.about-about {
		padding-top: 0.5vh;
		padding-left: 10vw;
		padding-right: 10vw;
	}
	.grid-container {
		display: grid;
		grid-column-gap: 1vw;
		grid-row-gap: 1vw;
		grid-template-columns: 19.25vw 19.25vw 19.25vw 19.25vw;
	}
	.about-page-titles {
		color: black;
	}
}

/* ast-summer */

.calendar {
	float: right;
	padding-bottom: 1em;
}

.text {
	font-size: 1.25em;
	text-align: left;
}




.menu-columns {
	float: left;
	color: black;
	list-style-type:none;
	padding: 0;
	float: left;
	width: 100%;
	text-align: center;
	list-style: none;
}

/*gets rid of default margin that is saved for the bullets and sets padding/margins*/
.menu-columns ul {
	margin: 1vh;
	padding: 1vh;
	text-align: left;
	list-style-type: none;
	display: inline-block;
	list-style-image: none;
	list-style: none;
}

.menu-columns li {
	list-style: none;
	list-style-image: none;
	text-align: left;
}



.ast-summer-list {
	text-align:left;
	list-style-type: none;
	display: inline-block;
}

.ast-summer-list-title {
	text-align: left;
	list-style-type: none;
	display: inline-block;
	font-size: 1.25em;
	font-weight: 700;
}


.row-ast-summer:after {
	content: "";
	display: table;
	clear: both;
}

.row-ast-summer {
	background-color: white;
	list-style-type: none;
}



.directoryDetails {
	background-color: white;
	width: 12vw;
}

.dropdown-details {
	background: #d3d3d3;
}


.iframe-container {
	overflow: hidden;
	padding-top: 0%;
	position: relative;
	background: white;
}


@media (min-width: 60rem) {
	.ast-summer {
		padding-top: 2vh;
		padding-left: 10vw;
		padding-right: 10vw;
		padding-bottom: 10vh;
		background:rgb(160, 144, 184);
	}
	.menu-columns {
		list-style-type: none;
	}

	.left {
	padding: 1em;
	width: 40%;
	}

	.right {
		padding: 1em;
		width: 60%;
	}

	.left-left {
	padding: 1em;
	width: 40%;
	}

	.middle-left {
		padding: 1em;
		width: 20%;
	}

	.middle-right {
		padding: 1em;
		width: 20%;
	}

	.right-right {
		padding: 1em;
		width: 20%;
	}

}


/*Footer section */

footer {

	background: #717070;
	color:white;
	text-align: center;
	height: 3rem;
	width: 100%;
	bottom: 0;
	position: fixed;
}







